<div id="sidebar">
    <!-- thumbnails get rendered here by JS -->
  <div class="sidebar-view">
  <ul id="thumbnail-list" class="thumbnail-list"><li id="thumb-page-1" class="page-thumbnail page">
  <a href="#page-1"><img src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_1.png" data-page="1"></a>
  <div class="remove">
    <span class="glyphicon glyphicon-remove delete-page"></span>
    <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
    <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
  </div>
  <p>1</p>
</li>
  <li id="thumb-page-2" class="page-thumbnail page">
  <a href="#page-2"><img src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_2.png" data-page="2"></a>
  <div class="remove">
    <span class="glyphicon glyphicon-remove delete-page"></span>
    <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
    <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
  </div>
  <p>2</p>
</li><li id="thumb-page-3" class="page-thumbnail page">
  <a href="#page-3"><img src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_3.png" data-page="3"></a>
  <div class="remove">
    <span class="glyphicon glyphicon-remove delete-page"></span>
    <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
    <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
  </div>
  <p>3</p>
</li><li id="thumb-page-4" class="page-thumbnail page">
  <a href="#page-4"><img src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_4.png" data-page="4"></a>
  <div class="remove">
    <span class="glyphicon glyphicon-remove delete-page"></span>
    <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
    <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
  </div>
  <p>4</p>
</li><li id="thumb-page-5" class="page-thumbnail page">
  <a href="#page-5"><img src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_5.png" data-page="5"></a>
  <div class="remove">
    <span class="glyphicon glyphicon-remove delete-page"></span>
    <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
    <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
  </div>