<app-tool></app-tool>
<div class="box">
  <h1>Features</h1>

  <div class="features">
    <div class="feature-box" href="/upload">
     <i class="fa-solid fa-cube" style="color: #d6d6d6;"></i>
      <a href="/upload">
        <h2>Upload and Extract</h2>
        <p>Easily convert text data from uploaded files  into organized and usable data.</p>
      </a>
    </div>

    <div class="feature-box">
      <i class="fa-solid fa-cube" style="color: #d6d6d6;"></i>
      <a href="/clients">
        <h2>Manage Data</h2>
        <p>Easily Create, Read, Update, and Delete data in a database.</p>
      </a>
    </div>
  </div>
</div>

