

<div class="content">
    <div class="login">
        <span>Forget Password?</span>
        <p>enter your email adress to get a new password</p>
        <div class="input">
            
            <input class="input-box" type="text" [(ngModel)]="Login.eamil" placeholder="Eamil">
        </div>

        <div class="btn">
            <button type="submit" >Submit</button>
        </div>

    </div>
    <div class="imgcontainer">
        <img class="u-expanded-width" src="assets\img\forgetpass.png" alt="Login">
    </div>

</div>