<div class="body" [ngClass]="getBodyClass()">
    <router-outlet class="fixe"></router-outlet>
    <!--<div>
        <img src="" alt="">
        <h1>Welcome</h1>
        <h2 ngIf="User">{{username}}</h2>
        <button></button>
        <img src="" alt="">
    </div>-->
    <div class="main">
        <div class="box">
            <h2>Welcome</h2>
            <h3>User 1 </h3>
            <div class="button">
                <div class="cycle"><i class="fa-regular fa-user"></i></div>
                <button>View Profile<span>&#8594;</span></button>
                
            </div>
        </div>
        <div class="imgcontainer">
            <img src="assets\img\appdevelopment-amico.png" alt="">
        </div>
    </div>

    
    
</div>
