<!--
  <div id="pages-container"><div id="page-1" class="pdf-page">
    <span class="page-number">1. </span>
    <div class="page" id="page-div-1">
      <img onload="$(this).data('loaded', 'loaded');" src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_1.png" draggable="false" unselectable="on" data-page="1" data-original-width="595.2760009765625" data-original-height="841.8900146484375"> 
    </div>
  </div>
      <div id="page-2" class="pdf-page">
    <span class="page-number">2. </span>
    <div class="page" id="page-div-2">
      <img onload="$(this).data('loaded', 'loaded');" src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_2.png" draggable="false" unselectable="on" data-page="2" data-original-width="595.2760009765625" data-original-height="841.8900146484375"> 
    </div>
  </div><div id="page-3" class="pdf-page">
    <span class="page-number">3. </span>
    <div class="page" id="page-div-3">
      <img onload="$(this).data('loaded', 'loaded');" src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_3.png" draggable="false" unselectable="on" data-page="3" data-original-width="595.2760009765625" data-original-height="841.8900146484375">
  </div><div id="page-4" class="pdf-page">
    <span class="page-number">4. </span>
    <div class="page" id="page-div-4">
      <img onload="$(this).data('loaded', 'loaded');" src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_4.png" draggable="false" unselectable="on" data-page="4" data-original-width="595.2760009765625" data-original-height="841.8900146484375">
    </div>
  </div><div id="page-5" class="pdf-page">
    <span class="page-number">5. </span>
    <div class="page" id="page-div-5">
      <img onload="$(this).data('loaded', 'loaded');" src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_5.png" draggable="false" unselectable="on" data-page="5" data-original-width="595.2760009765625" data-original-height="841.8900146484375">
    </div>
  </div><div id="page-6" class="pdf-page">
    <span class="page-number">6. </span>
    <div class="page" id="page-div-6">
      <img onload="$(this).data('loaded', 'loaded');" src="/pdfs/a5325067409043c1426929db3293189b09e167f2/document_800_6.png" draggable="false" unselectable="on" data-page="6" data-original-width="595.2760009765625" data-original-height="841.8900146484375">
  </div></div>
-->
<div id="sidebar">
  <!-- thumbnails get rendered here by JS -->
<div class="sidebar-view">
<ul id="thumbnail-list" class="thumbnail-list"><li id="thumb-page-1" class="page-thumbnail page">
<a href="#page-1"><img src="" data-page="1"></a>
<div class="remove">
  <span class="glyphicon glyphicon-remove delete-page"></span>
  <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
  <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
</div>
<p>1</p>
</li>
<li id="thumb-page-2" class="page-thumbnail page">
<a href="#page-2"><img src="" data-page="2"></a>
<div class="remove">
  <span class="glyphicon glyphicon-remove delete-page"></span>
  <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
  <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
</div>
<p>2</p>
</li><li id="thumb-page-3" class="page-thumbnail page">
<a href="#page-3"><img src="" data-page="3"></a>
<div class="remove">
  <span class="glyphicon glyphicon-remove delete-page"></span>
  <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
  <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
</div>
<p>3</p>
</li><li id="thumb-page-4" class="page-thumbnail page">
<a href="#page-4"><img src="" data-page="4"></a>
<div class="remove">
  <span class="glyphicon glyphicon-remove delete-page"></span>
  <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
  <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
</div>
<p>4</p>
</li><li id="thumb-page-5" class="page-thumbnail page">
<a href="#page-5"><img src="" data-page="5"></a>
<div class="remove">
  <span class="glyphicon glyphicon-remove delete-page"></span>
  <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
  <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
</div>
<p>5</p>
</li><li id="thumb-page-6" class="page-thumbnail page">
<a href="#page-6"><img src="" data-page="6"></a>
<div class="remove">
  <span class="glyphicon glyphicon-remove delete-page"></span>
  <!-- <span title="rotate this page right" class="icon-repeat rotate-left"></span>
  <span title="rotate this page left" class="icon-repeat flip rotate-right"></span> -->
</div>
<p>6</p>
</li></ul>
</div></div>