<div id="control-panel">
  <div>
    <span class="filename">nouveau-releve-compte.pdf</span>
    <div class="dropdown" style="display: inline;">

  </div>


  <a href="/upload"><button  type="button" id="clear-all-selections" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle" ></span>Clear Extraction</button></a>
 <!-- <button id="restore-detected-tables" type="button" class="btn btn-default autodetect-finished"><span class="glyphicon glyphicon-flash"></span><span class="glyphicon glyphicon-refresh"></span>Clear Extraction</button>-->





  <span style="clear: both;">
</span></div></div>
